body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin: 0;
}

$tint-100: hsla(122, 38%, 84%, 1);
$tint-500: hsla(122, 39%, 49%, 1);
$tint-700: hsla(123, 43%, 39%, 1);

$text-disabled: hsla(0, 0%, 0%, 0.26);
$text-secondary: hsla(0, 0%, 0%, 0.54);
$text-primary: hsla(0, 0%, 0%, 0.87);

$text-white-disabled: hsla(0, 0%, 100%, 0.3);
$text-white-secondary: hsla(0, 0%, 100%, 0.7);
$text-white-primary: hsla(0, 0%, 100%, 1);

$grey-100: hsla(0, 0%, 96%, 1);
$grey-200: hsla(0, 0%, 93%, 1);


.top-display {
  height: 40px;
  font-size: 1.5em;
  padding: 10px 15px 0px 15px;
  margin-bottom: 5px;
  color: $text-white-primary;
  text-align: center;
  background-color: $tint-700;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.controls {
  height: 40px;
  margin-bottom: 5px;

  .left, .middle, .right {
    display: inline-block;
    width: 33%;
    height: 100%;
    line-height: 40px;
    vertical-align: middle;
  }

  .middle {
    text-align: center;
  }

  .right {
    text-align: right;
  }
}

button {
  outline: none;
  border: none;
  color: $text-white-primary;
  border-radius: 50%;
  background-color: $tint-700;
  cursor: pointer;

  &.disabled {
    color: $tint-100;
    border: 1px solid;
    background-color: $text-white-disabled;
    cursor: initial;
  }

  &:not(.disabled):hover {
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.25);
  }

  &.primary {
    height: 40px;
    width: 40px;
  }

  &.secondary {
    height: 30px;
    width: 30px;

    &.active:after {
      content: "";
      border-bottom: 2px solid $tint-700;
      width: 28px;
      position: absolute;
      margin-top: 27px;
      margin-left: -20px;
    }
  }
}

.button {
  display: inline-block;
  color: $text-secondary;
  cursor: pointer;
  padding: 2px 5px 0px 5px;

  &.disabled {
    color: $text-disabled;
    pointer-events: none;
  }

  &:hover {
    color: $tint-500;
  }

  &.active {
    color: $tint-700;
  }
}



.video-player {
  height: 0px;
  pointer-events: none;
  overflow: hidden;

  &.visible {
    height: 400px;
  }
}





.songs-list {
  height: 400px;
  overflow-y: scroll;
  border-top: 1px solid $grey-200;
  border-bottom: 1px solid $grey-200;

  box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.05);


  .song {
    height: 30px;
    line-height: 30px;
    padding: 10px 5px;

    font-weight: 100;
    font-size: 0.9em;
    cursor: pointer;
    color: $text-primary;

    &:not(:last-child) {
      border-bottom: 1px solid $grey-200;
    }

    &:hover {
      background-color: $grey-200;
    }

    i.fa-exclamation {
      color: $tint-500;
    }

    i.fa-play {
      opacity: 0;
      color: $tint-500;
    }

    &.playing {
      background-color: $grey-100;

      i.fa-play {
        opacity: 1;
      }
    }
  }
}
