.controls {
  background-color: $tint-700;
  width: calc(100% - 20px);
  padding: 0px 10px;

  > * {
    padding: 10px;
  }
}

.row {
  [class^="col-"] {
    display: inline-block;
    vertical-align: middle;

    &.col-10 {width: 10%;}
    &.col-30 {width: 30%;}
    &.col-40 {width: 40%;}
    &.col-50 {width: 50%;}
    &.col-60 {width: 60%;}
    &.col-70 {width: 70%;}

    &.right {
      text-align: right;
    }
  }
}

.song-title {
  color: $text-white-primary;
  font-size: 1.1em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
