html, body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin: 0;
  min-width: 400px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

@import 'utils/index';
@import 'directives/index';

.songs-list {
  flex: 1 1000px;
}

.settings-bar {
  min-height: 20px;
  flex: 1 0 auto;
}

