html, body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin: 0;
  // overflow-y: hidden;
  min-width: 450px;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

@import 'utils/index';
@import 'directives/index';

.chrome-bar {
  flex: 0 20px;
  min-height: 20px;

  > * {
    display: inline-block;
  }
}

.controls {
  &.small {
    flex: 0 30px;
    min-height: 30px;
  }

  &.large {
    flex: 0 50px;
    min-height: 50px;
  }
}

.songs-list {
  flex: 1 1000px;
}

.settings-bar {
  min-height: 20px;
  flex: 1 0 auto;
}

