button, a {
  -webkit-app-region: no-drag;
  outline: none;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;

  @mixin colorized($color, $disabled-color, $hover-color)  {
    color: $color;

    &.disabled {
      cursor: initial;
      color: $disabled-color;
    }

    &:not(.disabled):hover {
      color: $hover-color;
    }
  }

  @include colorized($text-white-secondary, $text-white-disabled, $text-white-primary);

  &.dark {
    @include colorized($text-secondary, $text-disabled, $text-primary);
  }

  &.primary {
    @include colorized($tint-500, $tint-100, $tint-700);
  }

  &.warn {
    @include colorized($grey-500, $grey-100, $red-700);
  }
}
