$text-disabled: hsla(0, 0%, 0%, 0.26);
$text-hint: $text-disabled;
$text-secondary: hsla(0, 0%, 0%, 0.54);
$text-primary: hsla(0, 0%, 0%, 0.87);

$text-white-disabled: hsla(0, 0%, 100%, 0.3);
$text-white-hint: $text-white-disabled;
$text-white-secondary: hsla(0, 0%, 100%, 0.7);
$text-white-primary: hsla(0, 0%, 100%, 1);

$grey-100: hsla(0, 0%, 96%, 1);
$grey-200: hsla(0, 0%, 93%, 1);
$grey-500: hsla(0, 0%, 62%, 1);
$grey-700: hsla(0, 0%, 38%, 1);


// Green
$tint-100: hsla(122, 38%, 84%, 1);
$tint-500: hsla(122, 39%, 49%, 1);
$tint-700: hsla(123, 43%, 39%, 1);
$tint-900: hsla(124, 55%, 24%, 1);

// Pink
$pink-100: hsla(340, 79%, 85%, 1);
$pink-500: hsla(340, 82%, 52%, 1);
$pink-700: hsla(336, 78%, 43%, 1);
$pink-900: hsla(328, 81%, 29%, 1);



