.row {

  @mixin col($value) {
    .col-#{$value} {
      display: inline-block;
      vertical-align: middle;
      overflow: hidden;
      width: $value * 1%;
      min-height: 24px;

      @include animate(width);

      &.right {
        text-align: right;
      }

      &.center {
        text-align: center;
      }
    }
  }

  @include col(0);
  @include col(10);
  @include col(20);
  @include col(30);
  @include col(40);
  @include col(50);
  @include col(60);
  @include col(70);
  @include col(80);
  @include col(100);
}

.thin-line {
  height: 0;
  position: relative;

  .time-slider {
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
  }
}
