input[type=text] {
  border: none;
  background-color: transparent;

  color: $text-white-secondary;

  font-size: 0.9em;
  line-height: 0.9em;


  width: 100%;

  @include animate(opacity);

  &:focus {
    outline: none;
    opacity: 1;
  }

}

@include placeholder {
  color: $text-white-hint;
  padding-top: 4px;
}
