@mixin top-shadow($opacity:0.1) {
  box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,$opacity);
}

@mixin animate($properties...) {
  $result: ();
  @each $property in $properties {
    $result: append($result, $property 0.1s ease-in-out, comma);
  }

  -webkit-transition: $result;
  -moz-transition: $result;
  -o-transition: $result;
  transition: $result;
}

.blink {
  -webkit-animation: blink 0.5s linear 0s infinite alternate;
}

@-webkit-keyframes blink {
  from {opacity: 0;}
  to {opacity: 1;}
}

@-moz-keyframes blink {
  from {opacity: 0;}
  to {opacity: 1;}
}

@-o-keyframes blink {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes blink {
  from {opacity: 0;}
  to {opacity: 1;}
}

@mixin placeholder {
  ::-webkit-input-placeholder {
    @content;
  }

  :-moz-placeholder {
    @content
  }

  ::-moz-placeholder {
    @content
  }

  :-ms-input-placeholder {
    @content
  }
}
