@mixin top-shadow($opacity:0.1) {
  box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,$opacity);
}

@mixin animate($properties...) {
  $result: ();
  @each $property in $properties {
    $result: append($result, $property 0.1s ease-in-out, comma);
  }

  -webkit-transition: $result;
  -moz-transition: $result;
  -o-transition: $result;
  transition: $result;
}
