@mixin controls-size($class-name, $min-height, $padding) {
  &#{unquote($class-name)} {
    @include animate(padding-top, padding-bottom, height, min-height);
    flex: 1 0 $min-height;
    min-height: $min-height;
    padding: $padding;

    &.hidden {
      flex: 0 0;
      min-height: 0;
      padding: 0;
    }
  }
}

.controls {
  &:first-child {
    @include top-shadow(0.1);
  }

  background-color: $tint-700;
  overflow: hidden;

  @include controls-size(":not(.large):not(.medium)", 40px, 10px 10px 0px 10px);

  &.small {
    @include controls-size(".small", 20px, 5px 10px 10px 10px);
  }

  &.large {
    @include controls-size(".large", 40px, 20px 10px);
  }

  &.secondary {
    background-color: $tint-500;
  }
}

.drawer {
  @include top-shadow(0.2);
  height: 0px;
  width: 100%;
  flex: 1 0 auto;

  background-color: $grey-100;
  @include animate(height, padding-top);

  &.open {
    height: 150px;
  }
}
