.shortcuts-editor {
  padding-top: 10px;

  .title {
    font-size: 0.7em;
    font-weight: 500;
    color: $text-secondary;
    margin-bottom: 15px;
    margin-left: 10px;

    .help-button {
      float: right;
      padding-right: 10px;
    }
  }

  .shortcut-item {
    > * {
      display: inline-block;
    }

    .label {
      color: $text-primary;
      width: 80px;
      font-size: 0.6em;
      text-align: right;
    }
  }

  .buttons {
    text-align: center;
    margin-top: 15px;
  }
}
