.songs-list {
  width: 100%;
  overflow-y: scroll;
  border-top: 1px solid $grey-200;
  border-bottom: 1px solid $grey-200;

  @include top-shadow();

  .song {
    cursor: pointer;
    color: $text-primary;
    padding: 10px 0px 5px 5px;

    border-bottom: 1px solid $grey-200;

    &:hover {
      background-color: $grey-200;

      .on-hover {
        opacity: 1;
      }
    }

    &.playing {
      background-color: $grey-100;

      .on-play {
        opacity: 1;
      }
    }

    > * {
      display: inline-block;
    }

    .song-label {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .on-hover {
      opacity: 0;
    }
  }
}
