.time-slider {
  text-align: left;

  .label {
    display: inline-block;
    width: 40px;
    font-size: 0.8em;
    color: $text-white-secondary;

    &:last-child {
      margin-left: 8px;
    }
  }

  .track-container {
    position: relative;
    width: 0%;
    display: inline-block;
    vertical-align: middle;

    .track {
      width: calc(100% - 4px);
      height: 3px;
      background-color: $text-white-primary;
    }

    .thumb {
      background-color: $text-white-primary;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      position: absolute;
      top: -3px;
      margin-left: -5px;
      right: 0px;
    }
  }
}
