<!DOCTYPE HTML>
<html lang="en" ng-app="tuny">
<head>
  <title>Tuny</title>
  <link rel="stylesheet" type="text/css" media="screen" href="app.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
</head>

<body ng-controller='TunyCtrl'>

  <div class="controls">
    <div class="row">
      <div class="col-60">
        <div class="song-title" ng-bind="currentSong.title || 'No song playing'"></div>
      </div><div class="col-30 right">
        <time-slider duration="currentSong.duration" current-time="currentSong.currentTime"></time-slider>
      </div><div class="col-10 right">
        <button ng-click="toggleShuffle()" ng-class="{disabled: !songs}"><i class="fa" ng-class="{'fa-toggle-off': !shuffled, 'fa-toggle-on': shuffled}"></i> <i class="fa fa-random"></i></button>
        </div>
    </div>
    <div class="row">
      <div class="col-70">
        <input type="text" placeholder="Filter list..." ng-model="search.title">
        <button ng-click="search.title = ''" ng-show="search.title"><i class="fa fa-times"></i></button>
      </div><div class="col-30 right">
        <ng-audio
            songs="songs"
            current-song="currentSong"
            is-playing="isPlaying"
            duration="currentSong.duration"
            current-time="currentSong.currentTime"
          >
        </ng-audio>
      </div>
    </div>
  </div>

  <div class="songs-list">
    <div
      class="song"
      ng-class="{playing: $parent.currentSong === song}"
      ng-repeat="song in songs | filter:search"
      ng-click="$parent.currentSong = song"
    >
      <div class="icons">
        <i class="fa fa-circle-o-notch fa-spin" ng-show="song.isLoading"></i>
      </div>
      {{song.title}} <span class="info" ng-show="song.preloading">preloading...</span>
    </div>
  </div>

  <div class="settings-bar">
    <div class="buttons">
      <button title="Settings" ng-click="settingsOpen = !settingsOpen"><i class="fa fa-gear"></i></button>
    </div>
    <div class="drawer" ng-class="{open: settingsOpen}">
      <shortcuts-editor open="settingsOpen"></shortcuts-editor>
    </div>
  </div>

</body>

<script type="text/javascript" src="node_modules/angular/angular.js"></script>
<script type="text/javascript" src="app.js"></script>
</html>
